#-------------------------
# Composer
#-------------------------
#vendor/
composer.lock

# Log
scripts/data/*
!scripts/data/keep.html

scripts/log/*
!scripts/log/keep.html

scripts/download/*
!scripts/download/keep.html

scripts/repair/*
!scripts/repair/keep.html